
*{  margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}


body{
    background: linear-gradient(45deg, rgb(117, 210, 238) , rgb(12, 92, 5));
}
h1{
    display: flex;
    justify-content: center;
}

